{
  "openapi": "3.1.0",
  "info": {
    "title": "CommonGrid API",
    "version": "1.0.0",
    "description": "The CommonGrid open-source energy infrastructure API. Access data on utilities, grid operators, power plants, EV charging stations, transmission lines, pricing nodes, and more.\n\n## Authentication\n\nAll endpoints are publicly accessible at the Anonymous tier (60 requests/hr, no per-minute burst). To unlock the Registered tier (5,000 requests/hr + 100/min burst), create a free API key in the [Developer Dashboard](/developers) and include it as a Bearer token:\n\n```\nAuthorization: Bearer cg_your_api_key\n```\n\nOnly `Authorization: Bearer <key>` is accepted. Other `Authorization` schemes (e.g. `Basic`, a raw token without a scheme) return `401`. The `X-API-Key` header is unsupported and ignored — it does not authenticate or elevate rate limits.\n\nPresent-but-invalid credentials (unknown, revoked, or malformed Bearer tokens) also return `401`; they do not fall back to the anonymous tier. Missing credentials use the anonymous tier.\n\n## Rate Limits\n\nAuthenticated read tiers check **both** a rolling hourly budget and a short burst window (whichever trips first returns `429`). Anonymous is hourly-only. Mutating requests use the write tier.\n\n| Tier | Hourly | Burst | Auth Required |\n|------|--------|-------|---------------|\n| Anonymous | 60/hr | — | No |\n| Registered | 5,000/hr | 100/min | API key |\n| Bulk | 50,000/hr | 500/min | Contact us |\n| Write | — | 100/min | Any mutating request |\n\nEvery limited response includes `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`, and `X-RateLimit-Tier` for the window that applied. On `429 RATE_LIMITED`, `Retry-After` is also set and matches that same window (burst rejections often show a short `Retry-After` and a burst-sized `X-RateLimit-Limit`).\n\n## Pagination\n\nList endpoints return cursor-based pagination:\n\n```json\n{\n  \"data\": [...],\n  \"meta\": {\n    \"total\": 3000,\n    \"limit\": 50,\n    \"nextCursor\": \"eyJ2IjoxLCJzIjp7InZhbHVlIjoiYWNtZS11dGlsaXR5In0sImlkIjoiYWJjMTIzIn0\"\n  }\n}\n```\n\nPass `cursor=<nextCursor>` to fetch the next page. Use the `limit` parameter (max 200) to control page size.\n\n## Spec generation\n\nThis OpenAPI document is auto-generated from the Drizzle schema via `npm run generate:openapi`. CI verifies the committed spec is up to date on every PR; if you change a table or route and the spec diverges, `npm run check:openapi` will fail.",
    "contact": {
      "name": "CommonGrid Support",
      "email": "hello@texturehq.com",
      "url": "https://texturehq.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/TextureHQ/commongrid/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://commongrid.info/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from the Developer Dashboard. Prefix with `cg_`. Only Bearer is accepted; `X-API-Key` and other Authorization schemes are not supported."
      }
    },
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of results to return (1–200, default 50)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 50
        }
      },
      "cursor": {
        "name": "cursor",
        "in": "query",
        "description": "Pagination cursor from the previous response `meta.nextCursor`",
        "schema": {
          "type": "string"
        }
      },
      "search": {
        "name": "search",
        "in": "query",
        "description": "Full-text search query (min 2 characters)",
        "schema": {
          "type": "string",
          "minLength": 2
        }
      },
      "fields": {
        "name": "fields",
        "in": "query",
        "description": "Comma-separated list of fields to include in the response (sparse fieldsets)",
        "schema": {
          "type": "string"
        },
        "example": "id,slug,name"
      },
      "slug": {
        "name": "slug",
        "in": "path",
        "required": true,
        "description": "Unique URL-safe identifier for the resource",
        "schema": {
          "type": "string"
        }
      },
      "at": {
        "name": "at",
        "in": "query",
        "description": "Point-in-time read. Reconstructs the entity from version history at the latest version with changed_at ≤ this instant. Accepts YYYY-MM-DD (end of that UTC day) or an ISO-8601 timestamp. Response includes `_as_of: { requested, versionNumber, changedAt }`. Returns 404 when no version exists at or before the requested time.",
        "schema": {
          "type": "string"
        },
        "example": "2025-12-01"
      }
    },
    "schemas": {
      "PaginatedMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of matching records"
          },
          "limit": {
            "type": "integer",
            "description": "Page size used for this response"
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for the next page, or null if no more pages"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard public API error envelope produced by `formatError`. All public `/api/v1` error responses use this shape (including geometry unknown-slug 404s).",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "request_id",
              "timestamp"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable code (e.g. `NOT_FOUND`, `VALIDATION_ERROR`).",
                "example": "NOT_FOUND"
              },
              "message": {
                "type": "string",
                "description": "Human-readable explanation.",
                "example": "Utility 'does-not-exist' not found"
              },
              "request_id": {
                "type": "string",
                "description": "Correlates with the `X-Request-Id` response header.",
                "example": "req_8b2c3d4e5f67"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time",
                "description": "ISO-8601 time when the error was formatted."
              },
              "details": {
                "description": "Optional structured context (e.g. `{ \"slug\": \"…\" }` on geometry 404s, or validation field errors).",
                "nullable": true
              }
            }
          }
        }
      },
      "RateLimitedError": {
        "type": "object",
        "description": "Returned when either the hourly or burst rate-limit window is exceeded. Header values describe the window that tripped.",
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "request_id",
              "currentTier",
              "currentLimit",
              "retryAfter"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "RATE_LIMITED"
                ],
                "example": "RATE_LIMITED"
              },
              "message": {
                "type": "string",
                "example": "Too many requests. Please slow down."
              },
              "request_id": {
                "type": "string",
                "example": "req_abc123"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "currentTier": {
                "type": "string",
                "enum": [
                  "anonymous",
                  "registered",
                  "bulk",
                  "write"
                ],
                "example": "registered"
              },
              "currentLimit": {
                "type": "integer",
                "description": "Budget of the window that was enforced (hourly or burst)",
                "example": 100
              },
              "retryAfter": {
                "type": "integer",
                "description": "Seconds until X-RateLimit-Reset for the window that tripped",
                "example": 12
              },
              "docs": {
                "type": "string",
                "format": "uri"
              },
              "upgrade": {
                "type": "string",
                "description": "Present on anonymous 429s — points callers at free API key registration"
              }
            }
          }
        }
      },
      "GeoJsonFeature": {
        "type": "object",
        "description": "A GeoJSON Feature (RFC 7946)",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Feature"
            ]
          },
          "geometry": {
            "type": "object",
            "description": "GeoJSON geometry object"
          },
          "properties": {
            "type": "object",
            "description": "Arbitrary feature properties"
          }
        }
      },
      "EntityVersion": {
        "type": "object",
        "description": "A single entry in an entity's version history (from `entity_versions`).",
        "properties": {
          "id": {
            "type": "integer"
          },
          "versionNumber": {
            "type": "integer"
          },
          "changeType": {
            "type": "string",
            "description": "One of: create, update, delete, baseline"
          },
          "changeSummary": {
            "type": "string",
            "nullable": true
          },
          "changedBy": {
            "type": "string",
            "nullable": true
          },
          "changedAt": {
            "type": "string",
            "format": "date-time"
          },
          "sourceType": {
            "type": "string",
            "nullable": true,
            "description": "Origin of this version: sync, community, admin, merge, or community_override"
          },
          "delta": {
            "type": "object",
            "nullable": true,
            "description": "Field-level delta: { <fieldName>: { old, new } }",
            "additionalProperties": true
          }
        }
      },
      "ChangelogEntry": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "added",
              "updated"
            ]
          },
          "entityType": {
            "type": "string"
          },
          "entityTypeLabel": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "isoTimestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChangelogResponse": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChangelogEntry"
            }
          },
          "total": {
            "type": "integer"
          },
          "hasMore": {
            "type": "boolean"
          },
          "source": {
            "type": "string",
            "enum": [
              "static",
              "database"
            ]
          }
        }
      },
      "ResolveUtilityRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Free-form utility name. May also be a string containing '@domain' to trigger domain matching.",
            "example": "Vermont Electric Cooperative"
          },
          "state": {
            "type": "string",
            "pattern": "^[A-Za-z]{2}$",
            "description": "Optional two-letter US state code. Narrows candidates to utilities in that state.",
            "example": "VT"
          },
          "domain": {
            "type": "string",
            "maxLength": 253,
            "description": "Optional email/web domain (e.g. 'duke-energy.com'). Combined with name when name does not already contain '@'.",
            "example": "vermontelectric.coop"
          },
          "confidence_threshold": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.85,
            "description": "Minimum trigram similarity (0..1) required to return a fuzzy match as the resolved utility. Defaults to 0.85."
          }
        },
        "additionalProperties": false
      },
      "ResolveUtilityCandidate": {
        "type": "object",
        "properties": {
          "eia_id": {
            "type": "string",
            "description": "EIA utility id."
          },
          "name": {
            "type": "string",
            "description": "Canonical utility name."
          },
          "score": {
            "type": "number",
            "description": "Match score, 0..1."
          },
          "segment": {
            "type": "string",
            "nullable": true,
            "description": "Utility segment (e.g. distribution)."
          },
          "state": {
            "type": "string",
            "nullable": true,
            "description": "Two-letter state code."
          }
        }
      },
      "ResolveUtilityResponse": {
        "type": "object",
        "properties": {
          "eia_id": {
            "type": "string",
            "nullable": true,
            "description": "Resolved EIA utility id, or null when no match met the confidence threshold."
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence of the resolved match, 0..1."
          },
          "match_source": {
            "type": "string",
            "enum": [
              "exact",
              "fuzzy",
              "alias",
              "domain",
              "override",
              "none"
            ],
            "description": "Which resolver phase produced the match."
          },
          "canonical_name": {
            "type": "string",
            "nullable": true,
            "description": "Canonical utility name for the resolved id, when a match was found."
          },
          "candidates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResolveUtilityCandidate"
            },
            "description": "Up to 5 candidates considered, ordered by score desc. Populated even when no candidate met the threshold."
          },
          "resolver_version": {
            "type": "string",
            "description": "Semantic version of the resolver algorithm. Clients can pin this to detect algorithm changes."
          }
        }
      },
      "UtilityGeometryFeatureCollection": {
        "type": "object",
        "description": "GeoJSON FeatureCollection returned by `/utilities/{slug}/geometry`. Always 200 when the utility exists; `metadata.geometry_status` tells the caller whether the polygon is loaded or still pending backfill.",
        "required": [
          "type",
          "features",
          "metadata"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "FeatureCollection"
            ]
          },
          "features": {
            "type": "array",
            "description": "Zero or one `Feature<MultiPolygon>`. Empty when `metadata.geometry_status` is `pending_backfill`; contains one feature when `loaded`.",
            "items": {
              "type": "object",
              "required": [
                "type",
                "geometry",
                "properties"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "Feature"
                  ]
                },
                "geometry": {
                  "type": "object",
                  "description": "GeoJSON MultiPolygon geometry.",
                  "required": [
                    "type",
                    "coordinates"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "MultiPolygon"
                      ]
                    },
                    "coordinates": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "minItems": 2
                          }
                        }
                      }
                    }
                  }
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "utility_slug": {
                      "type": "string"
                    },
                    "utility_name": {
                      "type": "string"
                    },
                    "eia_id": {
                      "type": "string"
                    },
                    "region_slug": {
                      "type": "string",
                      "nullable": true
                    },
                    "territory_id": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "required": [
              "utility_slug",
              "eia_id",
              "geometry_status"
            ],
            "properties": {
              "utility_slug": {
                "type": "string"
              },
              "utility_name": {
                "type": "string"
              },
              "eia_id": {
                "type": "string"
              },
              "region_slug": {
                "type": "string",
                "nullable": true
              },
              "territory_id": {
                "type": "string",
                "nullable": true
              },
              "geometry_status": {
                "type": "string",
                "enum": [
                  "loaded",
                  "pending_backfill"
                ],
                "description": "`loaded` when the territory polygon is available; `pending_backfill` when the utility exists in the registry but its polygon has not been ingested yet (known data gap)."
              },
              "source": {
                "type": "string",
                "nullable": true,
                "description": "Data source for the polygon (e.g. `HIFLD`, `EIA-861`). `null` when `geometry_status` is `pending_backfill`."
              },
              "source_url": {
                "type": "string",
                "nullable": true
              },
              "area_sq_km": {
                "type": "number",
                "nullable": true
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "When the territory row was last updated. Present on `loaded` responses."
              }
            }
          }
        }
      },
      "SearchResults": {
        "type": "object",
        "description": "Grouped search results keyed by entity type (camelCase plural).",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "source": {
                "type": "string"
              }
            }
          }
        }
      },
      "Utility": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable internal identifier"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe unique identifier used in API paths"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "eiaName": {
            "type": "string",
            "nullable": true,
            "description": "Utility name as reported on EIA Form 861"
          },
          "shortName": {
            "type": "string",
            "nullable": true,
            "description": "Short / display name variant"
          },
          "logo": {
            "type": "string",
            "nullable": true,
            "description": "URL to the utility's logo"
          },
          "website": {
            "type": "string",
            "nullable": true,
            "description": "Primary utility website"
          },
          "eiaId": {
            "type": "string",
            "nullable": true,
            "description": "EIA utility identifier"
          },
          "segment": {
            "type": "string",
            "description": "Ownership / structural category of the utility. Sourced from EIA Form 861 filings plus manual review.",
            "enum": [
              "COMMUNITY_CHOICE_AGGREGATOR",
              "DISTRIBUTION_COOPERATIVE",
              "FEDERAL",
              "GENERATION_AND_TRANSMISSION",
              "INVESTOR_OWNED_UTILITY",
              "JOINT_ACTION_AGENCY",
              "MUNICIPAL_UTILITY",
              "POLITICAL_SUBDIVISION",
              "TRANSMISSION_OPERATOR"
            ]
          },
          "status": {
            "type": "string",
            "description": "Operational status of the utility.",
            "enum": [
              "ACQUIRED",
              "ACTIVE",
              "DEFUNCT",
              "MERGED",
              "PENDING"
            ]
          },
          "customerCount": {
            "type": "integer",
            "nullable": true,
            "description": "Number of retail customers served (EIA-861)"
          },
          "peakDemandMw": {
            "type": "number",
            "nullable": true,
            "description": "Summer peak demand in megawatts"
          },
          "winterPeakDemandMw": {
            "type": "number",
            "nullable": true,
            "description": "Winter peak demand in megawatts"
          },
          "totalRevenueDollars": {
            "type": "number",
            "nullable": true,
            "description": "Total annual revenue in US dollars"
          },
          "totalSalesMwh": {
            "type": "number",
            "nullable": true,
            "description": "Total annual retail sales in MWh"
          },
          "baCode": {
            "type": "string",
            "nullable": true,
            "description": "Balancing authority code (EIA-861)"
          },
          "nercRegion": {
            "type": "string",
            "nullable": true,
            "description": "NERC reliability region"
          },
          "hasGeneration": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the utility owns generation assets"
          },
          "hasTransmission": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the utility owns transmission assets"
          },
          "hasDistribution": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the utility owns distribution assets"
          },
          "amiMeterCount": {
            "type": "integer",
            "nullable": true,
            "description": "Number of advanced (AMI) meters deployed"
          },
          "totalMeterCount": {
            "type": "integer",
            "nullable": true,
            "description": "Total meter count (AMI + traditional)"
          },
          "jurisdiction": {
            "type": "string",
            "nullable": true,
            "description": "Comma-separated state codes the utility operates in"
          },
          "isoId": {
            "type": "string",
            "nullable": true,
            "description": "FK to the ISO this utility operates under, if any"
          },
          "rtoId": {
            "type": "string",
            "nullable": true,
            "description": "FK to the RTO this utility operates under, if any"
          },
          "balancingAuthorityId": {
            "type": "string",
            "nullable": true,
            "description": "FK to the primary balancing authority"
          },
          "generationProviderId": {
            "type": "string",
            "nullable": true,
            "description": "FK to the utility that supplies generation"
          },
          "transmissionProviderId": {
            "type": "string",
            "nullable": true,
            "description": "FK to the utility that supplies transmission"
          },
          "parentId": {
            "type": "string",
            "nullable": true,
            "description": "FK to parent utility (holding company)"
          },
          "successorId": {
            "type": "string",
            "nullable": true,
            "description": "FK to successor utility (post-merger)"
          },
          "serviceTerritoryId": {
            "type": "string",
            "nullable": true,
            "description": "FK to the region describing the utility's service territory"
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Email / web domains associated with this utility (e.g. ['duke-energy.com']). Useful for domain-scoped joins against external datasets (email sign-ups, news mentions, complaint logs). Backfilled from website + NRECA/EIA-861 where available; editable via the community contribution flow."
          },
          "deprecationReason": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Upstream data source identifier (e.g. EIA, HIFLD, OSM)"
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Canonical source URL (filing PDF, dataset download, etc.)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was first ingested into CommonGrid"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was last modified"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Soft-delete timestamp (null for active records)"
          },
          "version": {
            "type": "integer",
            "description": "Monotonic version counter incremented on every edit"
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "segment",
          "status",
          "createdAt",
          "updatedAt",
          "version"
        ]
      },
      "Iso": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable internal identifier"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe unique identifier used in API paths"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "shortName": {
            "type": "string",
            "description": "Short name (e.g. CAISO, PJM)"
          },
          "logo": {
            "type": "string",
            "nullable": true,
            "description": "Logo URL"
          },
          "website": {
            "type": "string",
            "nullable": true,
            "description": "Primary website"
          },
          "states": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of two-letter US state codes covered"
          },
          "regionId": {
            "type": "string",
            "nullable": true,
            "description": "FK to the parent region"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Upstream data source identifier (e.g. EIA, HIFLD, OSM)"
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Canonical source URL (filing PDF, dataset download, etc.)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was first ingested into CommonGrid"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was last modified"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Soft-delete timestamp (null for active records)"
          },
          "version": {
            "type": "integer",
            "description": "Monotonic version counter incremented on every edit"
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "shortName",
          "states",
          "createdAt",
          "updatedAt",
          "version"
        ]
      },
      "Rto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable internal identifier"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe unique identifier used in API paths"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "shortName": {
            "type": "string",
            "description": "Short name / abbreviation"
          },
          "logo": {
            "type": "string",
            "nullable": true,
            "description": "Logo URL"
          },
          "website": {
            "type": "string",
            "nullable": true,
            "description": "Primary website"
          },
          "states": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of two-letter US state codes covered"
          },
          "regionId": {
            "type": "string",
            "nullable": true,
            "description": "FK to the parent region"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Upstream data source identifier (e.g. EIA, HIFLD, OSM)"
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Canonical source URL (filing PDF, dataset download, etc.)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was first ingested into CommonGrid"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was last modified"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Soft-delete timestamp (null for active records)"
          },
          "version": {
            "type": "integer",
            "description": "Monotonic version counter incremented on every edit"
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "shortName",
          "states",
          "createdAt",
          "updatedAt",
          "version"
        ]
      },
      "BalancingAuthority": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable internal identifier"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe unique identifier used in API paths"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "shortName": {
            "type": "string",
            "description": "Short name / abbreviation"
          },
          "logo": {
            "type": "string",
            "nullable": true,
            "description": "Logo URL"
          },
          "eiaCode": {
            "type": "string",
            "nullable": true,
            "description": "EIA balancing authority code"
          },
          "eiaId": {
            "type": "string",
            "nullable": true,
            "description": "EIA identifier"
          },
          "website": {
            "type": "string",
            "nullable": true,
            "description": "Primary website"
          },
          "states": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of two-letter US state codes covered"
          },
          "isoId": {
            "type": "string",
            "nullable": true,
            "description": "FK to the parent ISO, if any"
          },
          "regionId": {
            "type": "string",
            "nullable": true,
            "description": "FK to the region this BA sits inside"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Upstream data source identifier (e.g. EIA, HIFLD, OSM)"
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Canonical source URL (filing PDF, dataset download, etc.)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was first ingested into CommonGrid"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was last modified"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Soft-delete timestamp (null for active records)"
          },
          "version": {
            "type": "integer",
            "description": "Monotonic version counter incremented on every edit"
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "shortName",
          "states",
          "createdAt",
          "updatedAt",
          "version"
        ]
      },
      "Region": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable internal identifier"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe unique identifier used in API paths"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "type": {
            "type": "string",
            "description": "Region type (state, county, iso, rto, ba, utility-service-territory, cca, etc.)"
          },
          "eiaId": {
            "type": "string",
            "nullable": true,
            "description": "EIA identifier, if applicable"
          },
          "state": {
            "type": "string",
            "nullable": true,
            "description": "Two-letter US state code, if applicable"
          },
          "customers": {
            "type": "integer",
            "nullable": true,
            "description": "Customer count associated with this region, if reported"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Upstream data source identifier (e.g. EIA, HIFLD, OSM)"
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Canonical source URL (filing PDF, dataset download, etc.)"
          },
          "sourceDate": {
            "type": "string",
            "nullable": true,
            "description": "Source filing date (YYYY-MM-DD)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was first ingested into CommonGrid"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was last modified"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Soft-delete timestamp (null for active records)"
          },
          "version": {
            "type": "integer",
            "description": "Monotonic version counter incremented on every edit"
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "type",
          "createdAt",
          "updatedAt",
          "version"
        ]
      },
      "Territory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Matches the region id this territory is the geometry for"
          },
          "regionId": {
            "type": "string",
            "description": "FK to the region"
          },
          "areaSqKm": {
            "type": "number",
            "nullable": true,
            "description": "Area in square kilometers (precomputed)"
          },
          "vertexCount": {
            "type": "integer",
            "nullable": true,
            "description": "Vertex count (precomputed, for perf monitoring)"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Upstream source of the boundary geometry"
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Canonical source URL"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the geometry was first ingested"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the geometry was last modified"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Soft-delete timestamp"
          },
          "version": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "regionId",
          "createdAt",
          "updatedAt",
          "version"
        ]
      },
      "PowerPlant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable internal identifier"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe unique identifier used in API paths"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "plantCode": {
            "type": "string",
            "description": "EIA plant code"
          },
          "utilityId": {
            "type": "string",
            "nullable": true,
            "description": "FK to the operating utility"
          },
          "utilityName": {
            "type": "string",
            "description": "Operator name as reported to EIA"
          },
          "balancingAuthorityId": {
            "type": "string",
            "nullable": true,
            "description": "FK to the balancing authority"
          },
          "baCode": {
            "type": "string",
            "nullable": true,
            "description": "Balancing authority code"
          },
          "state": {
            "type": "string",
            "description": "Two-letter US state code"
          },
          "county": {
            "type": "string",
            "nullable": true,
            "description": "County name"
          },
          "latitude": {
            "type": "number",
            "description": "WGS84 latitude"
          },
          "longitude": {
            "type": "number",
            "description": "WGS84 longitude"
          },
          "nercRegion": {
            "type": "string",
            "nullable": true,
            "description": "NERC reliability region"
          },
          "sector": {
            "type": "string",
            "description": "EIA sector (electric utility, IPP, commercial, etc.)"
          },
          "primaryFuel": {
            "type": "string",
            "nullable": true,
            "description": "Primary fuel code (EIA)"
          },
          "fuelCategory": {
            "type": "string",
            "description": "Normalized fuel category (solar, wind, gas, coal, etc.)"
          },
          "technologies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of generator technology codes"
          },
          "energySources": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of energy source codes"
          },
          "totalCapacityMw": {
            "type": "number",
            "description": "Total nameplate capacity in megawatts"
          },
          "generatorCount": {
            "type": "integer",
            "description": "Number of generators at the plant"
          },
          "operatingYear": {
            "type": "integer",
            "nullable": true,
            "description": "Earliest generator operating year"
          },
          "gridVoltageKv": {
            "type": "number",
            "nullable": true,
            "description": "Grid interconnection voltage in kV"
          },
          "status": {
            "type": "string",
            "description": "One of: operable, proposed"
          },
          "proposedCapacityMw": {
            "type": "number",
            "nullable": true,
            "description": "Proposed capacity in megawatts (for proposed plants)"
          },
          "proposedOnlineYear": {
            "type": "integer",
            "nullable": true,
            "description": "Expected online year (for proposed plants)"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Upstream data source identifier (e.g. EIA, HIFLD, OSM)"
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Canonical source URL (filing PDF, dataset download, etc.)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was first ingested into CommonGrid"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was last modified"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Soft-delete timestamp (null for active records)"
          },
          "version": {
            "type": "integer",
            "description": "Monotonic version counter incremented on every edit"
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "plantCode",
          "utilityName",
          "state",
          "latitude",
          "longitude",
          "sector",
          "fuelCategory",
          "technologies",
          "energySources",
          "totalCapacityMw",
          "generatorCount",
          "status",
          "createdAt",
          "updatedAt",
          "version"
        ]
      },
      "Substation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable internal identifier"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe unique identifier used in API paths"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "ownerName": {
            "type": "string",
            "nullable": true,
            "description": "Owner name (free-text)"
          },
          "ownerUtilityId": {
            "type": "string",
            "nullable": true,
            "description": "FK to the owning utility, if matched"
          },
          "state": {
            "type": "string",
            "description": "Two-letter US state code"
          },
          "county": {
            "type": "string",
            "nullable": true,
            "description": "County name"
          },
          "latitude": {
            "type": "number",
            "description": "WGS84 latitude"
          },
          "longitude": {
            "type": "number",
            "description": "WGS84 longitude"
          },
          "minVoltageKv": {
            "type": "integer",
            "nullable": true,
            "description": "Minimum voltage in kV"
          },
          "maxVoltageKv": {
            "type": "integer",
            "nullable": true,
            "description": "Maximum voltage in kV"
          },
          "substationType": {
            "type": "string",
            "description": "One of: transmission, distribution, hybrid, unknown"
          },
          "status": {
            "type": "string",
            "description": "One of: in_service, out_of_service, planned, retired, unknown"
          },
          "source": {
            "type": "string",
            "description": "Upstream data source identifier (e.g. EIA, HIFLD, OSM)"
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Canonical source URL (filing PDF, dataset download, etc.)"
          },
          "eiaId": {
            "type": "string",
            "nullable": true,
            "description": "EIA substation identifier"
          },
          "osmId": {
            "type": "string",
            "nullable": true,
            "description": "OpenStreetMap element id (e.g. node/123, way/456)"
          },
          "hifldLegacyId": {
            "type": "string",
            "nullable": true,
            "description": "Legacy HIFLD substation id"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was first ingested into CommonGrid"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was last modified"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Soft-delete timestamp (null for active records)"
          },
          "version": {
            "type": "integer",
            "description": "Monotonic version counter incremented on every edit"
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "state",
          "latitude",
          "longitude",
          "substationType",
          "status",
          "source",
          "createdAt",
          "updatedAt",
          "version"
        ]
      },
      "TransmissionLine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable internal identifier"
          },
          "objectId": {
            "type": "integer",
            "description": "HIFLD object identifier"
          },
          "type": {
            "type": "string",
            "description": "Line type (overhead, underground, etc.)"
          },
          "status": {
            "type": "string",
            "description": "Operational status"
          },
          "owner": {
            "type": "string",
            "description": "Owner name"
          },
          "voltage": {
            "type": "number",
            "nullable": true,
            "description": "Nominal voltage in kV (may be 0 for unknown)"
          },
          "voltClass": {
            "type": "string",
            "description": "HIFLD voltage class text"
          },
          "voltageClass": {
            "type": "string",
            "description": "Normalized voltage class (UNDER_100, 100_200, 345, 500, 735_AND_ABOVE, DC, NOT_AVAILABLE)"
          },
          "sub1": {
            "type": "string",
            "description": "First substation endpoint name"
          },
          "sub2": {
            "type": "string",
            "description": "Second substation endpoint name"
          },
          "lengthMiles": {
            "type": "number",
            "description": "Line length in miles"
          },
          "naicsCode": {
            "type": "string",
            "description": "NAICS industry code"
          },
          "source": {
            "type": "string",
            "description": "Upstream data source identifier (e.g. EIA, HIFLD, OSM)"
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Canonical source URL (filing PDF, dataset download, etc.)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was first ingested into CommonGrid"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was last modified"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Soft-delete timestamp (null for active records)"
          },
          "version": {
            "type": "integer",
            "description": "Monotonic version counter incremented on every edit"
          }
        },
        "required": [
          "id",
          "objectId",
          "type",
          "status",
          "owner",
          "voltClass",
          "voltageClass",
          "sub1",
          "sub2",
          "lengthMiles",
          "naicsCode",
          "source",
          "createdAt",
          "updatedAt",
          "version"
        ]
      },
      "EvStation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable internal identifier"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe unique identifier used in API paths"
          },
          "stationName": {
            "type": "string",
            "description": "Display name of the station"
          },
          "streetAddress": {
            "type": "string",
            "description": "Street address"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "state": {
            "type": "string",
            "description": "Two-letter US state code"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code"
          },
          "latitude": {
            "type": "number",
            "description": "WGS84 latitude"
          },
          "longitude": {
            "type": "number",
            "description": "WGS84 longitude"
          },
          "evNetwork": {
            "type": "string",
            "nullable": true,
            "description": "Charging network (e.g. Tesla, ChargePoint, EVgo)"
          },
          "evLevel1EvseNum": {
            "type": "integer",
            "description": "Number of Level 1 EVSE ports"
          },
          "evLevel2EvseNum": {
            "type": "integer",
            "description": "Number of Level 2 EVSE ports"
          },
          "evDcFastNum": {
            "type": "integer",
            "description": "Number of DC fast chargers"
          },
          "evConnectorTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of connector types (J1772, CCS, CHAdeMO, TESLA)"
          },
          "accessCode": {
            "type": "string",
            "description": "One of: public, private"
          },
          "statusCode": {
            "type": "string",
            "description": "One of: E (available), P (planned), T (temporarily unavailable)"
          },
          "openDate": {
            "type": "string",
            "nullable": true,
            "description": "Date the station opened (YYYY-MM-DD)"
          },
          "facilityType": {
            "type": "string",
            "nullable": true,
            "description": "Facility type from AFDC"
          },
          "ownerTypeCode": {
            "type": "string",
            "nullable": true,
            "description": "Owner type code from AFDC"
          },
          "evPricing": {
            "type": "string",
            "nullable": true,
            "description": "Pricing information (free text)"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Upstream data source identifier (e.g. EIA, HIFLD, OSM)"
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Canonical source URL (filing PDF, dataset download, etc.)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was first ingested into CommonGrid"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was last modified"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Soft-delete timestamp (null for active records)"
          },
          "version": {
            "type": "integer",
            "description": "Monotonic version counter incremented on every edit"
          }
        },
        "required": [
          "id",
          "slug",
          "stationName",
          "streetAddress",
          "city",
          "state",
          "zip",
          "latitude",
          "longitude",
          "evLevel1EvseNum",
          "evLevel2EvseNum",
          "evDcFastNum",
          "evConnectorTypes",
          "accessCode",
          "statusCode",
          "createdAt",
          "updatedAt",
          "version"
        ]
      },
      "PricingNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable internal identifier"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe unique identifier used in API paths"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "iso": {
            "type": "string",
            "description": "ISO/RTO identifier (CAISO, PJM, ERCOT, MISO, NYISO, ISONE, SPP)"
          },
          "nodeType": {
            "type": "string",
            "description": "Pricing node type (hub, gen, load, zone, etc.)"
          },
          "latitude": {
            "type": "number",
            "description": "WGS84 latitude"
          },
          "longitude": {
            "type": "number",
            "description": "WGS84 longitude"
          },
          "zone": {
            "type": "string",
            "nullable": true,
            "description": "Pricing zone"
          },
          "state": {
            "type": "string",
            "nullable": true,
            "description": "Two-letter US state code"
          },
          "voltageKv": {
            "type": "number",
            "nullable": true,
            "description": "Voltage in kV"
          },
          "eiaPlantCode": {
            "type": "string",
            "nullable": true,
            "description": "EIA plant code, for nodes mapped to a generator"
          },
          "source": {
            "type": "string",
            "description": "Upstream data source identifier (e.g. EIA, HIFLD, OSM)"
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Canonical source URL (filing PDF, dataset download, etc.)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was first ingested into CommonGrid"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was last modified"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Soft-delete timestamp (null for active records)"
          },
          "version": {
            "type": "integer",
            "description": "Monotonic version counter incremented on every edit"
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "iso",
          "nodeType",
          "latitude",
          "longitude",
          "source",
          "createdAt",
          "updatedAt",
          "version"
        ]
      },
      "Program": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable internal identifier"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe unique identifier used in API paths"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Full program description"
          },
          "organizations": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of {entityId, role} objects describing involved organizations"
          },
          "assetTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of asset types (e.g. battery, thermostat, water-heater)"
          },
          "marketSegments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of market segments (residential, C&I, etc.)"
          },
          "participationModels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of participation model codes"
          },
          "incentiveStructures": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of incentive structure codes"
          },
          "gridServices": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of grid services the program provides"
          },
          "regions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of region IDs covered"
          },
          "compensationTiers": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of compensation tiers"
          },
          "capacityTarget": {
            "type": "number",
            "nullable": true,
            "description": "Target capacity in MW"
          },
          "maxEnrollments": {
            "type": "integer",
            "nullable": true,
            "description": "Max enrollment count, if any"
          },
          "programSeason": {
            "type": "object",
            "nullable": true,
            "description": "Season object with startMonth, endMonth"
          },
          "launchedAt": {
            "type": "string",
            "nullable": true,
            "description": "Launch date (YYYY-MM-DD)"
          },
          "enrollmentOpens": {
            "type": "string",
            "nullable": true,
            "description": "Enrollment window open date"
          },
          "enrollmentCloses": {
            "type": "string",
            "nullable": true,
            "description": "Enrollment window close date"
          },
          "endsAt": {
            "type": "string",
            "nullable": true,
            "description": "Program end date"
          },
          "status": {
            "type": "string",
            "description": "Program status"
          },
          "programWebsite": {
            "type": "string",
            "nullable": true,
            "description": "Program home page URL"
          },
          "faqUrl": {
            "type": "string",
            "nullable": true,
            "description": "FAQ URL"
          },
          "termsUrl": {
            "type": "string",
            "nullable": true,
            "description": "Terms & conditions URL"
          },
          "contactUrl": {
            "type": "string",
            "nullable": true,
            "description": "Contact URL"
          },
          "variants": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of program variants"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Upstream data source identifier (e.g. EIA, HIFLD, OSM)"
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Canonical source URL (filing PDF, dataset download, etc.)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was first ingested into CommonGrid"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was last modified"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Soft-delete timestamp (null for active records)"
          },
          "version": {
            "type": "integer",
            "description": "Monotonic version counter incremented on every edit"
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "organizations",
          "assetTypes",
          "marketSegments",
          "participationModels",
          "incentiveStructures",
          "gridServices",
          "regions",
          "compensationTiers",
          "status",
          "variants",
          "createdAt",
          "updatedAt",
          "version"
        ]
      }
    }
  },
  "paths": {
    "/utilities": {
      "get": {
        "operationId": "listUtilities",
        "summary": "List utilities",
        "description": "Returns a paginated list of US utilities with filtering and sorting.",
        "tags": [
          "Utilities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Filter by UtilitySegment (exact match). Comma-separated for multiple. Unknown values return 400.",
            "schema": {
              "type": "string",
              "enum": [
                "COMMUNITY_CHOICE_AGGREGATOR",
                "DISTRIBUTION_COOPERATIVE",
                "FEDERAL",
                "GENERATION_AND_TRANSMISSION",
                "INVESTOR_OWNED_UTILITY",
                "JOINT_ACTION_AGENCY",
                "MUNICIPAL_UTILITY",
                "POLITICAL_SUBDIVISION",
                "TRANSMISSION_OPERATOR"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by UtilityStatus (exact match). Comma-separated for multiple. Unknown values return 400.",
            "schema": {
              "type": "string",
              "enum": [
                "ACQUIRED",
                "ACTIVE",
                "DEFUNCT",
                "MERGED",
                "PENDING"
              ]
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by two-letter US state code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slugs",
            "in": "query",
            "description": "Comma-separated utility slugs (max 500 per request, case-insensitive). Bulk slug → record lookup; use instead of paging the full list and filtering client-side.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eiaIds",
            "in": "query",
            "description": "Comma-separated EIA Utility IDs (max 500 per request). Alias: eia_ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iso",
            "in": "query",
            "description": "Filter by ISO id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rto",
            "in": "query",
            "description": "Filter by RTO id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ba",
            "in": "query",
            "description": "Filter by balancing authority id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Full-text search over name/eiaName/shortName/jurisdiction (min 2 chars)",
            "schema": {
              "type": "string",
              "minLength": 2
            }
          },
          {
            "name": "hasGeneration",
            "in": "query",
            "description": "Filter utilities that own generation assets",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "hasTransmission",
            "in": "query",
            "description": "Filter utilities that own transmission assets",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "hasDistribution",
            "in": "query",
            "description": "Filter utilities that own distribution assets",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude for point-in-polygon service-territory lookup (pair with lng)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Longitude for point-in-polygon service-territory lookup (pair with lat)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field (slug, name, customerCount, segment)",
            "schema": {
              "type": "string",
              "enum": [
                "slug",
                "name",
                "customerCount",
                "segment"
              ],
              "default": "slug"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated related entities to embed (iso,rto,ba)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list response",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Budget of the window that applied for this response (hourly or burst). Examples: 60, 100, 5000."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in that same window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp (seconds) when the applied window resets."
              },
              "X-RateLimit-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "anonymous",
                    "registered",
                    "bulk",
                    "write"
                  ]
                },
                "description": "Rate-limit tier that was applied for this request."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Utility"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginatedMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Hourly or burst rate-limit window exceeded. `Retry-After` and `X-RateLimit-*` describe the window that tripped.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Budget of the window that applied for this response (hourly or burst). Examples: 60, 100, 5000."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in that same window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp (seconds) when the applied window resets."
              },
              "X-RateLimit-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "anonymous",
                    "registered",
                    "bulk",
                    "write"
                  ]
                },
                "description": "Rate-limit tier that was applied for this request."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying. Matches X-RateLimit-Reset for the window that returned 429 (burst or hourly)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitedError"
                }
              }
            }
          }
        }
      }
    },
    "/utilities/{slug}": {
      "get": {
        "operationId": "getUtility",
        "summary": "Get utility by slug",
        "tags": [
          "Utilities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/slug"
          },
          {
            "$ref": "#/components/parameters/at"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Budget of the window that applied for this response (hourly or burst). Examples: 60, 100, 5000."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in that same window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp (seconds) when the applied window resets."
              },
              "X-RateLimit-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "anonymous",
                    "registered",
                    "bulk",
                    "write"
                  ]
                },
                "description": "Rate-limit tier that was applied for this request."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Utility"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Hourly or burst rate-limit window exceeded. `Retry-After` and `X-RateLimit-*` describe the window that tripped.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Budget of the window that applied for this response (hourly or burst). Examples: 60, 100, 5000."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in that same window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp (seconds) when the applied window resets."
              },
              "X-RateLimit-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "anonymous",
                    "registered",
                    "bulk",
                    "write"
                  ]
                },
                "description": "Rate-limit tier that was applied for this request."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying. Matches X-RateLimit-Reset for the window that returned 429 (burst or hourly)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitedError"
                }
              }
            }
          }
        }
      }
    },
    "/utilities/{slug}/geometry": {
      "get": {
        "operationId": "getUtilityGeometry",
        "summary": "Get utility service-territory geometry (GeoJSON FeatureCollection)",
        "description": "Resolves a utility slug to its service-territory polygon and returns a GeoJSON `FeatureCollection` with a `metadata` block describing the resolved utility and `geometry_status`. Resolution follows utilities → regions (`SERVICE_TERRITORY`) → territories internally, so consumers only need the utility slug. Returns `200` with `features: []` and `metadata.geometry_status: \"pending_backfill\"` for utilities whose territory polygon has not been ingested yet (a known data gap that the backfill pipeline resolves over time) and `200` with one `Feature<MultiPolygon>` and `metadata.geometry_status: \"loaded\"` when geometry is available. Returns `404` with the standard `ErrorResponse` envelope (`code: \"NOT_FOUND\"`, `details.slug`) only when the slug is not in the registry. Responses are served as `application/geo+json` with cache headers that differentiate loaded (1h) from pending (5m).",
        "tags": [
          "Utilities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/slug"
          },
          {
            "name": "simplify",
            "in": "query",
            "description": "Topology-preserving simplification tolerance in degrees (default 0.01, higher = simpler).",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Budget of the window that applied for this response (hourly or burst). Examples: 60, 100, 5000."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in that same window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp (seconds) when the applied window resets."
              },
              "X-RateLimit-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "anonymous",
                    "registered",
                    "bulk",
                    "write"
                  ]
                },
                "description": "Rate-limit tier that was applied for this request."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilityGeometryFeatureCollection"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Hourly or burst rate-limit window exceeded. `Retry-After` and `X-RateLimit-*` describe the window that tripped.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Budget of the window that applied for this response (hourly or burst). Examples: 60, 100, 5000."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in that same window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp (seconds) when the applied window resets."
              },
              "X-RateLimit-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "anonymous",
                    "registered",
                    "bulk",
                    "write"
                  ]
                },
                "description": "Rate-limit tier that was applied for this request."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying. Matches X-RateLimit-Reset for the window that returned 429 (burst or hourly)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitedError"
                }
              }
            }
          }
        }
      }
    },
    "/utilities/resolve": {
      "post": {
        "operationId": "resolveUtility",
        "summary": "Resolve a utility name to an EIA id",
        "description": "Resolves a free-form utility name (optionally scoped by state or an email domain) to a canonical EIA utility id. Useful for researchers, journalists, and anyone joining an external dataset (news articles, complaint databases, email sign-ups) against the utility registry. Cascades through a manual override table, an exact normalized-name match, a domain match when the input looks like an email, and a trigram fuzzy match. Returns the resolved id plus the top 5 candidates considered.",
        "tags": [
          "Utilities"
        ],
        "requestBody": {
          "description": "Resolution query.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveUtilityRequest"
              },
              "example": {
                "name": "Vermont Electric Cooperative",
                "state": "VT"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Budget of the window that applied for this response (hourly or burst). Examples: 60, 100, 5000."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in that same window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp (seconds) when the applied window resets."
              },
              "X-RateLimit-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "anonymous",
                    "registered",
                    "bulk",
                    "write"
                  ]
                },
                "description": "Rate-limit tier that was applied for this request."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveUtilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Hourly or burst rate-limit window exceeded. `Retry-After` and `X-RateLimit-*` describe the window that tripped.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Budget of the window that applied for this response (hourly or burst). Examples: 60, 100, 5000."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in that same window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp (seconds) when the applied window resets."
              },
              "X-RateLimit-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "anonymous",
                    "registered",
                    "bulk",
                    "write"
                  ]
                },
                "description": "Rate-limit tier that was applied for this request."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying. Matches X-RateLimit-Reset for the window that returned 429 (burst or hourly)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitedError"
                }
              }
            }
          }
        }
      }
    },
    "/isos": {
      "get": {
        "operationId": "listIsos",
        "summary": "List ISOs",
        "description": "Independent System Operators that manage wholesale electricity markets.",
        "tags": [
          "Grid Operators"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list response",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Budget of the window that applied for this response (hourly or burst). Examples: 60, 100, 5000."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in that same window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp (seconds) when the applied window resets."
              },
              "X-RateLimit-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "anonymous",
                    "registered",
                    "bulk",
                    "write"
                  ]
                },
                "description": "Rate-limit tier that was applied for this request."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Iso"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginatedMeta"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Hourly or burst rate-limit window exceeded. `Retry-After` and `X-RateLimit-*` describe the window that tripped.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Budget of the window that applied for this response (hourly or burst). Examples: 60, 100, 5000."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in that same window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp (seconds) when the applied window resets."
              },
              "X-RateLimit-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "anonymous",
                    "registered",
                    "bulk",
                    "write"
                  ]
                },
                "description": "Rate-limit tier that was applied for this request."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying. Matches X-RateLimit-Reset for the window that returned 429 (burst or hourly)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitedError"
                }
              }
            }
          }
        }
      }
    },
    "/isos/{slug}": {
      "get": {
        "operationId": "getIso",
        "summary": "Get ISO by slug",
        "tags": [
          "Grid Operators"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/slug"
          },
          {
            "$ref": "#/components/parameters/at"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Budget of the window that applied for this response (hourly or burst). Examples: 60, 100, 5000."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in that same window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp (seconds) when the applied window resets."
              },
              "X-RateLimit-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "anonymous",
                    "registered",
                    "bulk",
                    "write"
                  ]
                },
                "description": "Rate-limit tier that was applied for this request."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Iso"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Hourly or burst rate-limit window exceeded. `Retry-After` and `X-RateLimit-*` describe the window that tripped.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Budget of the window that applied for this response (hourly or burst). Examples: 60, 100, 5000."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in that same window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp (seconds) when the applied window resets."
              },
              "X-RateLimit-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "anonymous",
                    "registered",
                    "bulk",
                    "write"
                  ]
                },
                "description": "Rate-limit tier that was applied for this request."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying. Matches X-RateLimit-Reset for the window that returned 429 (burst or hourly)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitedError"
                }
              }
            }
          }
        }
      }
    },
    "/isos/{slug}/geometry": {
      "get": {
        "operationId": "getIsoGeometry",
        "summary": "Get ISO boundary geometry",
        "description": "Returns GeoJSON boundary geometry for the ISO.",
        "tags": [
          "Grid Operators"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/slug"
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON geometry response",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Budget of the window that applied for this response (hourly or burst). Examples: 60, 100, 5000."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in that same window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp (seconds) when the applied window resets."
              },
              "X-RateLimit-Tier": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "anonymous",
                    "registered",
                    "bulk",
                    "write"
                  ]
                },
                "description": "Rate-limit tier that was applied for this request."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
[...]
